main {
  display: flex;
}

#list {
  padding: 24px;
  background-color: aquamarine;
  flex: 6;
}
#form {
  padding: 24px;
  background-color: beige;
  flex: 6;
}

.task-container {
  margin-top: 15px;
  border-left: 4px solid #e0e0e0;
  border-radius: 8px;
  background-color: #ffff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.task-container:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.task {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-information {
  flex: 3;
}
.task-information h5 {
  color: #555555;
}
.task-information p {
  margin: 0;
  color: #555555;
  font-size: 14px;
}

.task-status {
  align-items: center;
  background-color: #e6f2ff;
  color: #1e90ff;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
}

.task-date-budget {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 14px;
  color: #777777;
}
